body{
  padding-bottom: 50px;
}

.main-container{
    margin-top: 20px;
}

.casa {
  width: auto !important; /*Keep the aspect ratio of the image*/
  height: 200px !important;
  margin: 0 auto 1em auto; /*Center the image*/
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }